<mat-toolbar color="primary">
  <mat-toolbar-row>

    <mat-icon>list_alt</mat-icon>
    <a mat-button routerLink=".">Recipes</a>
    <a mat-button routerLink=".">Shopping List</a>

    <span class="example-spacer"></span>

    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Save data</button>
      <button mat-menu-item>Fetch data</button>
    </mat-menu>

  </mat-toolbar-row>
</mat-toolbar>